.TagOfImg{
	position: absolute;
	top: 0px;
	
	background-color: black;
	color: white;
	font-size: 30px;
	width: 100%;

}

.block{
	
	height: 500px;
	border:2px solid grey;
}
.wblock{
	
	height: 400px;
	border:2px solid white;
}

#blockDiv{
	position: relative;
}


.inBlock{
	height: 300px;
	background-color: lightgrey;
	border:2px solid black;
	margin: 0;
}
#footer ul li{
	display: inline;


}
#footer{
	background-color: grey;
}

.footerh{
	text-align: center;
}

#footer a{
	color: black;
}
#aboutPage{
	display: none;
	height: 900px;
}

#signPage{
	display: none;
	height: 900px;
}
#btnCancel{
	padding: 10px;
	border:1px solid red;

}
#btnSubmit{
	padding: 10px;
	color: white;
	background-color: red;
}
.UpEvent{
	color: red;
}

.blackCol{
	border:1px solid black;
}
.imgblock{
	margin-right: -10;
	margin-left: -10;
}
.middleCol{
	background-color: white;
}

body{
	background-color: lightgrey;
}
nav{
	background-color: white;

}
.about{
	color: white;
	background-color: red;
	margin-top: -10px;
	font-size: 30px;
	padding: 10px;
	font-weight: bolder;
}
#inline{
	display: inline;
}

.pading{
	padding: 10px;
}

