@import url('https://fonts.googleapis.com/css?family=Ramaraja');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import url('https://fonts.googleapis.com/css?family=Lemonada');


/*///////////////////////////////headings///////////////////////////////*/
h1{
	font-family: 'Ramaraja', serif;
	font-style: oblique;
	font-size: 42px;
}

h2{
	font-family: 'Fugaz One', cursive;
	
}

h3{
	font-family: 'Lemonada', cursive;
	font-size: 20px;
}
/*///////////////////////////////headings///////////////////////////////*/
.img-slide{
	width:960px;
	height: 380px;
}

.back-top {
    width:4%;
    height:6%;
    background:#ff0000;
    position:fixed;
    bottom:150px;
    right:5px;
    display:block;
    opacity:0.8;
}


/*//////////////////////////////////slide imgae/////////////////////////////////////////*/
	.carous {
		width: 960px;
		overflow:hidden;
		margin: auto;
		box-shadow: 5px 5px 5px grey;
	}

	.carous ul {
		width: 3840px;
		padding: 0;
		margin: 0;
	}

	.carous ul li {
		width:960px;
		text-align: center;
		height: 380px;
		list-style: none;
		float:	left;
	}

	.carous ul li img{
		opacity: 0.4;
	}

	.buton{
		width: 456px;
		position: relative;
		top: -35px;
	}

/*////////////////////////////////slide text////////////////////////////////////*/

.carous-text {
		width: 900px;
		overflow:hidden;
		margin-left: 200px;
		margin-top: -270px;
		z-index: 10;

	}

	.carous-text ul {
		width: 3840px;
		padding: 0;
		margin: 0;
	}

	.carous-text ul li {
		width:960px;
		text-align: center;
		height: 280px;
		list-style: none;
		float:	left;
		z-index: -1;
	}

	.carous-text ul li h1 {
		text-shadow: 2px 5px 2px white;
		font-weight: bolder;
		color: black;
	}
	.carous-text ul li p{
		text-shadow: 2px 5px 2px white;
	font-weight: bolder;
	font-size: 20px;	
	}

/*////////////////////////////////slide text ends//////////////////////////////////////*/








.multilinetext>p{
	font-family: 'Orbitron', sans-serif;
	font-weight: bolder;
}
.wraptext{
	font-family: 'Port Lligat Sans', sans-serif;
	font-weight: bolder;
	box-shadow: 2px 5px 1px cadetblue;
}
.wraptext:hover{
	
	box-shadow: 7px 7px 27px cadetblue;
}



p{
	word-spacing: 12px;
}


.img{
	height: 380px;
	box-shadow: 4px 9px 8px 1px grey;
	border: 1px solid white;;
}

.miltitext{
	text-align: justify;
	margin-top: 19px;
}

.info{
	width: 100%;
}


.nav li>a{
	text-align: center;

}




.nav{

	width: 100%;

}





.pager li>a{
	border-radius: 5px;
	margin: -2px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0; 
}



/*tag line*/
.tagline{
	text-align: center;
	background-color: #222d0b;
	margin-left: 20%;
	margin-right: 20%;
	font-variant: small-caps;
	color: white;
	border: 1px solid white;
}



/*animated search bar*/
.searchbar-form .search {
	float:right;
	width: 53px;

	border: 2px solid #ccc;
	border-radius: 42px;
	font-size: 16px;
	background-color: white;
	background-image: url('searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	box-shadow: 10px 10px 10px black;
}

.searchbar-form .search:focus {
	width: 25%;
	border-color: aquamarine;
	background-color: #f7f4f4;
}

/**wraptext  image**/
.wrapimg{
	width: 20%;
	float: left;
	margin-left: 36px;
	margin-top: 27px;;
	border: 1px solid gray;
	margin-right: 11px;
}


.wraptext{
	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
	background-color: white;
	padding: 14px;
	border: 1px solid #e2dede;;

}


/*------------------------------------------------*/
.about-toppage{

	float: right;
	margin-right: 40px;



}

.about-toppage a{
	padding-right: 10px;
}

.footer{
	text-align: center;


	width: 100%;
	height: 145px;
	position: relative;
	background-color: black;
	color: aliceblue;
	padding: 30px;;;

}

/*******About Us Page*****/

.aboutustag{

	text-align: center;

	background-color: #222d0b;

	margin-left: 20%;

	margin-right: 20%;

	font-variant: small-caps;

	color: white;

	border: 1px solid white;
}





.btn-block{
	display: block;
	margin-bottom: 9px;
	margin-top: 14px;
	
}



div#content {
	position: relative;
	top: -94px;;


}





nav#top {
	background-color: black;
	border-color: black;


}





.heading h1{
	display: inline-block;
	padding-left: 5px;
	font-family: 'Frijole', cursive;
	font-size: 50px;
	color: white;;;
}



.heading img{
	height: 100px;
	margin-top: -29px;
	padding-left: 86px;
}





.navbar-default .navbar-nav > li > a{

	
	color: #777;

	
	font-weight: bolder;

	
	
}



.navbar-default .navbar-nav > li > a:hover{

	color: white;

	background-color: grey;;
}


.miltitext>h3{
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
	text-shadow: 1px 2px green;
}


.socialdiv-footer .socialicon{
	display: none;
}

.socialdiv .socialicon{
	display: inline;
	margin-top: 39px;
	width: 8%;

}
.socialdiv .socialicon:hover{
	display: inline;
	margin-top: 30px;
	width: 8%;
	opacity: 0.7;
}



.footernav li{
	display: inline;;;
	padding: 4px;
	text-decoration: none;
}

.pager li>a {

	background-color: #d0adad;

}


/************************************************************/








.heading a{
	text-decoration: none;
	color: #463535;
}

.fotlogo{
	width: 23%;
}
p.copyrite {
	font-size: 10px;
	word-spacing: 3px;
}

.multilinetext {
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border: 1px solid #e2dede;
	box-shadow: 1px 1px 1px cadetblue;
}
/************************************************************/
.multilinetext h3 {
	text-align: center;
	text-shadow: 1px 1px gold;
	
}
.multilinetext:hover {
	box-shadow: 7px 7px 27px cadetblue;;
}
.navbar-header{
	display: none;
}
.follow{
	margin-right: -66px;;;;
}







/**************************Mediaquery for tablet***********************************/
@media only screen and (min-width: 681px) and (max-width: 769px) {
	.socialdiv{
		display: none;
	}


	.socialdiv-footer .socialicon{
		display: block;
	}

	.socialdiv-footer .socialicon{
		display: inline;
		margin-top: 4px;
		width: 3%;

	}
	.socialdiv-footer .socialicon:hover{
		display: inline;
		margin-top: 30px;
		width: 8%;
		opacity: 0.7;
	}
	.fotlogo {
		width: 11%;
	}
	



	.nav li>a {
		text-align: center;
		padding-left: 40px;
		padding-right: 40px;
	}

	.footer{
		text-align: center;


		width: 100%;
		height: 298px;
		position: relative;
		background-color: black;
		color: aliceblue;
		padding: 10px;

	}

	
	.img-slide{
	width:960px;
	height: 380px;
}

.back-top {
    width:4%;
    height:6%;
    background:#ff0000;
    position:fixed;
    bottom:150px;
    right:5px;
    display:block;
    opacity:0.8;
}


/*//////////////////////////////////slide imgae/////////////////////////////////////////*/
	.carous {
		width: 720px;
		overflow:hidden;
		margin: auto;
		box-shadow: 5px 5px 5px grey;
	}

	.carous ul {
		width: 2880px;
		padding: 0;
		margin: 0;
	}

	.carous ul li {
		width:720px;
		text-align: center;
		height: 380px;
		list-style: none;
		float:	left;
	}

	.buton{
		width: 300px;
		position: relative;
		top: 5px;
	}

/*////////////////////////////////slide text////////////////////////////////////*/

.carous-text {
		width: 720px;
		overflow:hidden;
		margin-left: 38px;
		margin-top: -320px;
		z-index: 10;


	}

	.carous-text ul {
		width: 2880px;
		padding: 0;
		margin: 0;
	}

	.carous-text ul li {
		width:720px;
		text-align: center;
		height: 280px;
		list-style: none;
		float:	left;
		z-index: -1;
	}
	.carous-text ul li h1{
		font-size: 20px;
		font-weight: bolder;
		text-shadow: 3px 3px 3px white;
	} 
	.carous-text ul li p{
		font-size: 15px;
	} 

/*////////////////////////////////slide text ends//////////////////////////////////////*/






}


/************************************************************/

/**************************Mediaquery for mobile***********************************/
@media only screen and (max-width: 680px) { 
	.nav li>a {
		padding-left: 0; 
		padding-right: 0; 
		text-align: center;
	}

	.socialdiv{
		display: none;
	}

	.socialdiv-footer .socialicon{
		display: block;
	}




	.socialdiv-footer .socialicon{
		display: inline;
		margin-top: 4px;
		width: 7%;

	}
	.socialdiv-footer .socialicon:hover{
		display: inline;
		margin-top: 0px;
		width: 8%;
		opacity: 0.7;
	}

	.img {
		height: 280px;;;
	}







	.footer{


		width: 100%;
		height: 280px;
		position: relative;
		background-color: black;
		color: aliceblue;
		padding: 10px;


		text-align: center;

	}

	.navbar-header{
		display: block;
		color: white;
		height: 0px;
	}


	.heading h1 {
		display: inline-block;
		padding-left: 4px;
		font-family: 'Frijole', cursive;
		font-size: 30px;
		color: white;
	}

	.heading img {
		float: left;
		height: 100px;
		margin-top: -3px;
		margin-left: -99px;;
	}
	.heading a {
		display: inline;
		text-decoration: none;
		color: #2e2f1f;;;
	}

	.footernav{
		margin-left: -52px;

	}

	.fotlogo {
		width: 10%;
	}

	.multilinetext {
		background-color: azure;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		margin-left: -42px;
		margin-right: -42px;;
	}

	.wraptext {
		text-align: justify;
		margin-left: -9px;
		margin-right: -9px;
		margin-top: 20px;
		background-color: azure;
		padding: 14px;;
	}

	.wrapimg {
		width: 82%;
		float: left;
		margin-left: 22px;
		margin-top: 31px;
		border: 1px solid gray;
		margin-right: 11px;
		margin-bottom: 14px;
	}

	.tagline {
		text-align: center;
		background-color: #222d0b;
		margin-left: 0%;
		margin-right: 0;
		font-variant: small-caps;
		color: white;
		border: 1px solid white;
	}
	.aboutustag {
		text-align: center;
		background-color: #222d0b;
		margin-left: 0%;
		margin-right: 0%;
		font-variant: small-caps;
		color: white;
		border: 1px solid white;
	}



	.search:focus {
		width: 100%;
		border-color: aquamarine;
		background-color: #f7f4f4;

	}
	.search {
		float:right;
		width: 41px;

		border: 2px solid #ccc;
		border-radius: 42px;
		font-size: 16px;
		background-color: white;
		background-image: url('images/searchicon.png');
		background-position: 10px 10px;
		background-repeat: no-repeat;
		background-size: 20px 20px;;
		padding: 12px 20px 12px 40px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
		height: 40px;
	}

	.follow{
		display: none;
	}


.img-slide{
	width:960px;
	height: 380px;
}

.back-top {
    width:4%;
    height:6%;
    background:#ff0000;
    position:fixed;
    bottom:150px;
    right:5px;
    display:block;
    opacity:0.8;
}


/*//////////////////////////////////slide imgae/////////////////////////////////////////*/
	.carous {
		width: 320px;
		overflow:hidden;
		margin: auto;
		box-shadow: 5px 5px 5px grey;
	}

	.carous ul {
		width: 1280px;
		padding: 0;
		margin: 0;
	}

	.carous ul li {
		width:320px;
		text-align: center;
		height: 380px;
		list-style: none;
		float:	left;
	}

	.buton{
		width: 300px;
		position: relative;
		top: 5px;
	}

/*////////////////////////////////slide text////////////////////////////////////*/

.carous-text {
		width: 300px;
		overflow:hidden;
		margin-left: 20px;
		margin-top: -320px;
		z-index: 10;


	}

	.carous-text ul {
		width: 1200px;
		padding: 0;
		margin: 0;
	}

	.carous-text ul li {
		width:300px;
		text-align: center;
		height: 280px;
		list-style: none;
		float:	left;
		z-index: -1;
	}
	.carous-text ul li h1{
		font-size: 20px;
		font-weight: bolder;
		text-shadow: 3px 3px 3px white;
	} 
	.carous-text ul li p{
		font-size: 15px;
	} 

/*////////////////////////////////slide text ends//////////////////////////////////////*/






}/*end of the mediaquery680*/


body {
	background-color: #efeaea;
}





.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}





.nav > li > a {
	position: relative;
}



