.navbar-brand img {
	width: 22%;
	margin-top: -15px;
	float: left;
}

.navbar-brand span {
	display: inline-block;;
}
.nav.navbar-nav{
	float: right;
}



nav#top{
	margin-top: -20px;
}




.carousel-inner .item img{
	width: 100%;
	height: 350px;
}














.about-toppage{
	float: right;
}