<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<h1>List of Books</h1>

<table border="1">
	<tr>
		<th>Book_name</th>
		<th>author</th>
		<th>publication</th>
		      
	</tr>
	
	<% @books.each do |b|%>
	
	<tr>
		<td><%= b.book_name %></td>
		<td><%= b.author %></td>
		<td><%= b.publication %></td>
	      
	</tr>
	<% end %>
</table>

