<h1>show book</h1>


<p>
<label>Book Name : </label>
	<%= @book.book_name %><br>
</p>

<p>
<label>Author : </label>
	<%= @book.author %><br>
</p>

<p>
<label>Publication : </label>
	<%= @book.publication %><br>
</p>
<%= link_to 'back', books_list_path %>

